<section id="section_1" class="full_screen">
	<div class="background" data-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -150px;">
		<div class="container">
			<div class="sec_1_content">

			</div>
		</div>
	</div>
</section>

<section id="section_2" class="content">
	<div class="background">
		<div class="container">
			<div class="sec_2_content">

			</div>
		</div>
	</div>
</section>