<section class="window">

</section>

<section class="window">

</section>

<section class="window">

</section>

<section class="window">

</section>

<section class="window">

</section>

<section class="window">

</section>