<section class="window">
	<div class="parallax-image1" data-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -150px;">

	</div>

	<div class="content">

	</div>
</section>

<section class="window">
	<div class="parallax-image2" data-bottom-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -300px;">

	</div>

	<div class="content">
		
	</div>
</section>

<section class="window">
	<div class="parallax-image3" data-bottom-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -300px;">

	</div>

	<div class="content">
		
	</div>
</section>


<!-- <section class="window">

</section>

<section class="window">

</section>

<section class="window">

</section>

<section class="window">

</section>

<section class="window">

</section>

<section class="window">

</section> -->