<ul>
	<!-- First Parralax group of window (image) and content -->
	<li class="window" data-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -150px;">
		
		<!-- NAVBAR!! -->
		<div class="nav-bar">
			<%= link_to 'https://itunes.apple.com/ca/album/meet-walkervilles-live-at/id594041963', target: '_blank' do %>
				<div class="album-wrapper">
					<div class="album-art"><img id="cover" data-src=<%= image_path('album_art_colour.jpg') %> data-src-colour=<%= image_path('album_art_b_and_w.jpg') %> src=<%= image_path('album_art_b_and_w.jpg') %>/></div>
					<h2>Buy the album.</h2>
				</div>
			<% end %>

			<div class="nav-button"><h2>Music</h2></div>
			<div class="nav-button"><h2>Tour Dates</h2></div>
			<div class="nav-button"><h2>Twitter</h2></div>
			<div class="nav-button"><h2>Facebook</h2></div>
			<div class="nav-button"><h2>Instagram</h2></div>
		</div>

		<!-- Back to top Arrow -->
		<div class="arrow-wrapper">
			<div id="arrow"></div>
		</div>
	</li>

	<li class="content" >
		<h1 class="pull-quote">“If love were a band, it would be</br> the <b>Walkervilles</b>.”</h1>
		<div class="video">
			<iframe width="640" height="360" src="//www.youtube.com/embed/y2CS5GKOkEQ" frameborder="0" allowfullscreen></iframe>
		</div>
	</li>

	<!-- Second Parralax group of window (image) and content -->
	<li class="window" data-bottom-top="background-position: 50% -200px;" data-top-bottom="background-position: 50% 25px;">
		
	</li>
	<li class="content"></li>

	<!-- Third Parralax group of window (image) and content -->
	<li class="window" data-bottom-top="background-position: 50% -200px;" data-top-bottom="background-position: 50% 25px;"></li>
	<li class="content"></li>
</ul>
