// ----- GENERAL STYLES ----- \\

h1, h2, p, a {
	font-family: 'PT sans', sans-serif;
}


h1, h2 {
	display: inline-block;
	font-family: helvetica;
	font-weight: 800;
}

h1 {
	font-size: 2em;
}

a, a:link, a:hover, a:visited, a:active {
	text-decoration: none;
	color: #46227F;
}

html, body {
	height:100%;
	width:100%;
}

html {
	background-color: black;
	z-index: -100;
}

ul {
	height: 100%;
}

.main-wrapper {
	width: 100%;
	height: 100%;
}

.poster-wrapper {
	height: 100%;
	width: 50%;
	display: inline-block;
	float: left;
	position: fixed;
	text-align: center;

	img {
		height: 100%;
		
	}
	// background: url(image_path('Tour_Poster.jpg')) no-repeat;
	// @include background-size(cover);
}

.poster-inner-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 75%;
	left: 0;
	right: 0;
}

.smoke-wrapper {
	height: 100%;
	width: 50%;
	display: inline-block;
	float: right;
}

// #smoke-vid {
// 	position: fixed; 
// 	right: 0; 
// 	bottom: 0;
// 	// width: 100%; 
// 	height: 100%;
// 	// width: auto; 
// 	// height: auto;
// 	// background: url(polina.jpg) no-repeat;
// 	background-size: cover;
// 	z-index: -1;
// }


#smoke-vid {
	 position: fixed;
    z-index: 0;
    // background: url(mel.jpg) no-repeat;
    // background-size: 100% 100%;
    top: 0px;
    left: -350px; /* fixed to left. Replace it by right if you want.*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

    z-index: -1;
}

.text {
	font-size: 1em;
	color: #B0A478;
}

#walkervilles {
	color: #BFBDB2;
	margin-right: 10px;
	margin-bottom: 15px;
	z-index: 2;
	position: relative;
}

#cool {
	color: #46227F;
	margin-bottom: 15px;
	z-index: 2;
	position: relative;
}

.tour-dates-wrapper {
	font-family: sans-serif;
	position: absolute;
	top: 4%;
	margin: 0 auto;
	width: 50%;
	height: 90%;
	// overflow: scroll;

	tr {
		padding: 5px;
	}

	td {
		padding: 5px;
	}
}

.table-wrapper {
	height: 90%;
	overflow: scroll;

}

.tour-cell {
	width: 30%;
	display: inline-block;
}

.tickets-link a {
	color: #BFBDB2;
	text-decoration: underline;
}

.tickets-link {
	width: 15%;
	min-width: 82px;
}

.social-wrapper {
	font-size: 1.5em;
	color: #46227F;



	.fa {
		padding: 0 15px;
	}

	.fa:first-child {
		padding-left: 0;
	}
	
}

#blurb {
	position: absolute;
	top:100%;
}

.date-cell {
	width: 10%;
	min-width: 70px;
	height: 100%;
	padding: 5px 0;
	vertical-align: top;
}

.single-date-wrapper {
	margin: 10px 0;
	height: 2em;
}
.buffer {
	height: 50px;
}

.venue {
	width: 36%;
	height: 100%;
	padding: 5px 0;
	// vertical-align: baseline;
}

.location {
	height: 100%;
	padding: 5px 0;
	vertical-align: top;
}

.mobile-title-wrapper {
	display: none;
}

.mobile-arrow-outline {
	display: none;
}

.mobile-ticket {
	display: none;
}

.blur-top {
	width: 105%;
	left: -50px;
	height: 50px;
	position: absolute;
	top: 35px;
	background-color: black;
	 -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.blur-bottom {
	width: 105%;
	left: -50px;
	height: 50px;
	position: absolute;
	bottom: -25px;;
	background-color: black;
	 -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

iframe {
	margin: 50px auto;
	width: 90%;

}


@media screen and (max-width: 1024px) {

	iframe {
		display:none;
	}

	.blur-top, .blur-bottom {
		display: none;
	}

	.poster-download {
		display: none;
	}
	.poster-wrapper {
		width: 100%;
		display: block;
		position: relative;

		img {
			// height: 75%;
			// width: auto;
		}
	}

	.mobile-arrow-outline {
		margin: 0 auto;
		display: block;
	  width: 50px;
	  height: 50px;
	 //  border-radius: 100%;
	 //  border: 2px solid #46227F;
	}

	.arrow {
	  width: 20px;
	  height: 20px;
	  border-left: 2px solid #46227F;
	  border-bottom: 2px solid #46227F;
	  -ms-transform: rotate(-45deg); 
	  -webkit-transform: rotate(-45deg); 
	  transform: rotate(-45deg);
	  margin-left: 15px;
	  margin-top: 10px;
	}

	.table-wrapper {
		overflow: visible;
		height: auto;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 100px;
	}

	.poster-inner-wrapper {
		padding-bottom: 75px;
	}

	.smoke-wrapper {
		width: 100%;
		display: block;
		position: relative;
	}

	.tour-dates-wrapper {
		width: 100%;
		height: auto;

		table {
			width: 75%;
			margin: 0 auto;
		}
	}

	.title-wrapper {
		display: none;
	}

	.mobile-title-wrapper {
		display: block;
	}


	.social-wrapper {
		width: 90%;
		margin: 0 auto;
	}
	
}

@media screen and (max-width: 565px) {
	.date-cell {
		height: auto;
	}

	.single-date-wrapper {
		height: auto;
		border-bottom: 1px solid rgba(191,189,178, 0.2);
		border-top: 1px solid rgba(191,189,178, 0.2);
	}

	.venue, .location {
		width: 35%;
	}

	.tickets-link {
		display: none;
	}

	.mobile-ticket {
		width: 1%;
		font-size: 1.5em;
		display: inline-block;
	}

	.mobile-ticket a {
		color: #BFBDB2;
	}

	.poster-wrapper {
		img {
			height: auto;
			width: 80%;
		}
	}
	
	.social-wrapper {
		width: 100%;
		padding: 13px 0;
		position: fixed;
		top: 0;

		background-color: black;

		a {
			display: inline-block;
			margin: 0;
			float: left;
			width: 33%;
			text-align: center;
			padding: 0;
		}

		.fa {
			padding: 0;
		}
	}

	.poster-inner-wrapper {
		padding-bottom: 0;
		height: 70%;
	}

	// .tour-dates-wrapper {
	// 	table {
	// 		width: 100%;
	// 	}
	// }
}