// ----- GENERAL STYLES ----- \\

*, h1, h2, p {
	font-family: 'PT sans', sans-serif;
}

a {
	text-decoration: none;
}

html, body {
	height:100%;
	width:100%;
	background-color: black;
}

ul {
	height: 100%;
}

// ------- PICTURES ------- \\

.window {
	&:nth-child(1){
		height: 95%;	
		background: url(image_path('walkervilles_main_no_text.jpg')) no-repeat fixed;
		// background: url(image_path('wkvls_compressed4.jpg')) no-repeat center fixed;
		@include background-size(cover);
		z-index: -1;
	}

	&:nth-child(3){
		height: 50%;
		min-height: 200px;
		background: url(image_path('wkvls_compressed3.jpg')) no-repeat center;
		@include background-size(cover);
	}

	&:nth-child(5){
		height: 50%;
		min-height: 200px;
		background: url(image_path('wkvls_compressed2.jpg')) no-repeat center;
		@include background-size(cover);
	}
}

// ----- NAVBAR ----- \\
.nav-bar {
	left: 0;
	position: fixed;
	z-index: 1000;
	margin: 25px;
	text-align: center;

	.nav-button {
		margin-top: 10px;
		background-color: $content-color;
		border: 4px solid $content-color;
	}
}

.album-wrapper {
	background-color: $content-color;
	border: 4px solid $content-color;

	h2 {
		line-height: 1.5em;
		color: $content-border;
	}

	img {
		height: 150px;
		width: 150px;	
	}
}



// ----- CONTENT STYLING -----\\

.content {
		border-top: 15px solid $content-border;
		border-bottom: 15px solid $content-border;
		z-index: 10;

	&:nth-child(2) {
		height: 700px;
		background-color: $content-color;
		position: relative;
		width: 100%;
		padding: 1px;
	}

	&:nth-child(4), &:nth-child(6) {
		height: 400px;
		background-color: $content-color;
	}
}

.video {
	// overflow: auto;
	position: relative;
	width: 640px;
	padding-bottom: 60%;
	margin: 4% auto 0 auto;

	iframe {
		// height: 50%;
		// width: 100%;
		// position: absolute;
	}
}

.pull-quote {
	text-align: center;
	font-size: 3em;
	margin-top: 5%;

	b {
		font-weight: 750;
		font-style: italic;
	}
}

.quote {
	text-align: center;
	margin-top: 3%;

	h1 {
		font-size: 2.5em;
		// font-weight: 700;
		color: $content-color;
	}
}

.box-quote-wrapper {
	width: 100%;
	height: 200px;
	bottom: 30%;
	position: absolute;
}

.quote-background {
	height: 63%;
	width: 700px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.6);
	border: 10px solid #212121;
}

// -- STYLES FOR SCREENSIZE < 680px -- \\
// ------ SCROLLING TURNED OFF ------- \\
@media screen and (max-width: 680px) {
	.window {
		&:nth-child(1){
			background: url(image_path('walkervilles_main_no_text.jpg')) no-repeat center;
			// background: url(image_path('wkvls_compressed4.jpg')) no-repeat center;
			@include background-size(cover);
		}
	}

	iframe {
		width: 400px;
	}
}




