// ----- GENERAL STYLES ----- \\

h1, h2, p, a {
	font-family: 'PT sans', sans-serif;
}

h1 {
	font-size: 2em;
}

a, a:link, a:hover, a:visited, a:active {
	// text-decoration: none;
	color: $content-border;
}

html, body {
	height:100%;
	width:100%;
}

html {
	background-color: black;
	z-index: -100;
}

ul {
	height: 100%;
}


.main-wrapper {
	width: 100%;
	height: 100%;
}

.poster-wrapper {
	height: 100%;
	width: 50%;
	display: inline-block;
	float: left;
	position: fixed;

	img {
		// height: 100%;
		width: 75%;
		margin: 0 auto;
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
		top: 0;
		margin-top: 5%
	}
	// background: url(image_path('Tour_Poster.jpg')) no-repeat;
	// @include background-size(cover);
}

.smoke-wrapper {
	height: 100%;
	width: 50%;
	display: inline-block;
	float: right;
}

// #smoke-vid {
// 	position: fixed; 
// 	right: 0; 
// 	bottom: 0;
// 	// width: 100%; 
// 	height: 100%;
// 	// width: auto; 
// 	// height: auto;
// 	// background: url(polina.jpg) no-repeat;
// 	background-size: cover;
// 	z-index: -1;
// }


#smoke-vid {
	 position: fixed;
    z-index: 0;
    background: url(mel.jpg) no-repeat;
    // background-size: 100% 100%;
    top: 0px;
    left: -400px; /* fixed to left. Replace it by right if you want.*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

    z-index: -1;
}

.text {
	font-size: 50px;
	color: gold;
}
