<!DOCTYPE html>
<html>
<head>
  <title>The Walkervilles</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

	<%#= javascript_include_tag "application" %>
</body>
</html>
